.container{
    margin: 30px;
}

.col-3, .col-9, .col-12{
    height: 25px;
}

.container .row{
    height: 75px;
    border: 1px solid black;
}

.container .row .col-9{
    background-color: black;
}

.col-3, .col-12{
  font-size: 30px;
}